---
import Container from '@/components/Container.astro';
---


  <Container as="section" class="py-6">
    <div class="code-font flex justify-center" style="font-family: 'Consolas', 'Monaco', monospace !important;">
       <span class="comment">// NOTE: Thanks for stopping by! 👋</span>
    </div>
  </Container>
